In [1]:
import pandas as pd

In [22]:
def font_color(val):
    color = 'yellow' if val=='公休' else 'red'
    return f'color: {color}' 

def background_color(val):
    color = 'grey' if val=='84-7' else ''
    return f'backround-color: {color}'

In [23]:
df = pd.read_csv('csv_files/_ALL_shift.csv')
df = df.head(5)
df

,2023,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,4,6,7,1,2,3,4,5,6,7,...,5,6,7,1,2,3,4,5,6,7
1,A,GU,OFF,GU,GU,ENT,OFF,E-7,PS,OFF,...,12-8-6,12-8-6,OFF,73,73,73,73,73,73,OFF
2,B,E-6,OFF,E-6,OBS,210,210,E-7,OFF,OFF,...,GU,OFF,OFF,MC,MC,公休,MC,MC,MC,E-7
3,C,OBS,OFF,OBS,OBS,OBS,OBS,E-7,GO,OFF,...,國內旅遊,國內旅遊,國內旅遊,CVS,CVS,CVS,CVS,CVS,CVS,OFF
4,D,CVS,OFF,CVS,12-8-5,12-8-5,12-8-6,公休,OFF,OFF,...,AN,AN,OFF,73',73',OBS,OBS,公休,OBS,E-7

In [24]:
new_df = df.style.applymap(font_color, subset=pd.IndexSlice[:, ['7']])
new_df

In [25]:
new_df2 = df.style.applymap(background_color, subset=pd.IndexSlice[:, ['16']])
new_df2

In [8]:
type(new_df)

pandas.io.formats.style.Styler